<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/logRegis.css" />
    <title>Registrate</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="sign-panels">
        <div class="signup">
          <div class="title">
            <span>Sign Up</span>
            <p>
              Create a new account. You can sign up with your facebook or
              twitter accunt. Or your regular user login.
            </p>
          </div>

          <div>
            <a href="#" class="btn-face"
              ><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a
            >
            <a href="#" class="btn-twitter"
              ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a
            >
          </div>

          <div class="or"><span>OR</span></div>

          <form action="">
            <input type="text" placeholder="Username" />
            <input type="text" placeholder="Email Address" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Repeat Password" />

            <a href="#" class="btn-signin">Sign Up</a>
            <a href="javascript:void(0)" class="btn-login btn-fade"
              >Already have an account, Sign In
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i
            ></a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
